<%=image_tag("#{@user.image_url}")%>
<p><%=@user.full_name%></p>
<p><%=@user.email%></p>

<div id="fb-mid-login-form">
  <%= form_for(@user, url: users_path, method: 'POST') do |f| %>
    <%= f.text_field :phone, placeholder: "Phone", label: false %>
    <%= f.password_field :password, placeholder: "Password", label: false %>
    <%= f.submit "Register", class: "button round" %>
  <% end %>
</div>
