<div class="row homepage">
  <div class="medium-5 medium-offset-1 columns">
    <div class="logo-img">
      <%= image_tag("coffee_logo_large.png", class: 'show-for-medium-up img-responsive large-logo') %>
    </div>
  </div>

  <div class="large-4 medium-5 columns end registration-wrapper">
    <div class="row" id="registration-forms">
      <div id="taglines">
        <h1>Send coffee.</h1>
        <h4>Go ahead.  Make someone's day.</h4>
      </div>
      <div id="filler" class="show-for-large-up"></div>
      <div id="small-logo-img" class="show-for-small-only">
        <%= image_tag("coffee_logo.png") %>
      </div>
      <div id="register">
        <div id='fb-root'>
          <a href="#" id="fb-register-button" class="button round">Register With Facebook</a>
          <p id='fb-connect'></p>
          <p id='results'></p>
        </div>
      </div>

      <div id='email-register'>
        <p>or <%= link_to 'with your email address', '#', id:'email-register-button' %></p>
      </div>

      <div class='email-register-form'>
        <%= form_for @user, url: users_path do |f| %>
        <%= f.text_field :first_name, placeholder: "First Name", label: false%>
        <%= f.text_field :last_name, placeholder: "Last Name", label: false%>
        <%= f.email_field :email, placeholder: "Email", label: false%>
        <%= f.telephone_field :phone, placeholder: "Phone", maxlength: "10", label: false, class: "phone" %>
        <%= f.password_field :password, placeholder: "Password", label: false%>
        <%= f.submit :Register, class: "button round" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
