  <tr>
    <td class="date-row"><%=gift.created_at.strftime("%F")%></td>
    <td><%=gift.giver.full_name%></td>
    <td><%=gift.receiver.full_name || gift.receiver.phone %></td>
    <td><%=gift.redemption_code%></td>
    <td><%=number_to_currency(gift.price, unit: '$')%></td>
    <td><%=number_to_currency(gift.price * 0.7, unit: '$') %></td>
    <td><%=gift.redeemed%></td>
    <td></td>
  </tr>  