<div class="row low_content">
  <div class="form-container radius-box glassy-bg small-10 small-centered medium-8 large-6 columns">
    <%= form_tag transactions_path, method: 'POST', class: "transaction-form" do %>
      <div class="transaction-container">

        <div class="transaction-header">
          <h1>Checkout</h1>
        </div>

        <div class="transaction-body">
        <h3>You're sending <%=add_an_or_a(@menu_item.name.downcase)%> from <%=@cafe.name%> for <%=number_to_currency(@menu_item.price)%></h3>

        <div class="row">
          <%= telephone_field_tag :phone, nil, placeholder: "Enter your friend's phone number", maxlength: "10", class:"phone", label: false %>
          <%= @coffee_gift.errors[:phone].first %>
        </div>
        <div class="row">
          <%= text_area_tag :message, @coffee_gift.message, size: "30x3", placeholder: "(Optional) Include a personal note!", label: false %>
        </div>
        <div class="row">
          <label>Card Number</label>
          <input type="tel" maxlength="20" autocomplete="off" id="card-number" class="cc-number card-number stripe-sensitive required" placeholder="•••• •••• •••• ••••"  />
        </div>
        <div class="row">
          <div class="medium-4 columns cvc">
            <label>CVC</label>
            <input type="text" maxlength="4" autocomplete="off" class="card-cvc stripe-sensitive required" placeholder="•••" />
          </div>
          <div class="medium-8 columns month-year">
            <label>Month / Year</label>
            <div class="expiry-wrapper">
              <select class="card-expiry-month stripe-sensitive required">
              </select>
              <select class="card-expiry-year stripe-sensitive required"></select>
            </div>
          </div>
        </div>

        <div class="errors">
          <span class="payment-errors"></span>
          <% if flash[:alert] %>
            <p class="alert"><%=flash[:alert]%></p>
          <% end %>
        </div>

        <div class="transaction-button">
          <button type="submit" name="submit-button" class="button round" id="transaction-submit-button">Charge <%=number_to_currency(@menu_item.price)%></button>
        </div>

      </div>
    </div>
    <div class="spacer"></div>
  <% end %>
</div>
</div>
